<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="" ng-click="LinkFunc('index.html')">Corporación Freya</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="startLink"><a class="{{ activeIndex }}" href="" ng-click="LinkFunc('index.html')">Inicio</a></li>
            <li id="serviciosLink"><a class="{{ activeService }}" href="" ng-click="LinkFunc('servicios.html')">Servicios</a></li>
        </ul>
    </div>
</nav>
